.mainFooter{
  background-color: black;
  border-top: 1px solid coral;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  padding: 10px;


    a{
      color: whitesmoke;
    }

    ul{
      list-style: none;
      display: flex;
      padding: 0;

      li {
        margin: 5px;
        padding: 5px;
        color:$shark;
        background-color: whitesmoke;
        border-radius: 5px;
        transition: .2s ease-out;
        &:hover {
          background-color: $dark-pink;
          color: whitesmoke;
        }
        &:active{
          transform: scale(.9);
        }

      }
    }
  }
// .copyright,
// .contact{
//   width: 50%;
// }

.contact{
  display: flex;
  justify-content: space-between;

}
.copyright{
  align-self: center;
}
