
Body {
	font-family: Helvetica,Georgia;
	background-image: linear-gradient(pink 50%, white);
	color: black;
	padding: 0;
	margin: 0;
	}
header ul{
	margin: 0;
	padding: 0;
	}
header li {
	position: relative;
	float: right;
	display: inline;
	padding: 0 40px 0 0;
	}
header Navbar{
	margin-top: 10px;
}

p{
	font-size: 20px;
}
h2{
	border-top: 2px solid black;
	margin: 25px;
	text-align: center;
	font-size: 50px;

}
/* Class/ID selectors */


#logo {
	position: relative;
	left: 200px;
}
#Showcase{
	margin: 0;
	padding: 0;
	box-shadow: 0 -10px 25px 10px 	black;

}
.button-display-right{
	position: absolute;
	bottom: 350px;
	right: 10px;
}
.button-display-left{
	position: absolute;
	bottom: 350px;
	left: 10px;
}

#about{
	max-width: 80%;
	margin: auto;
	margin-top: 25px;
}

.Container{
	overflow: auto;
	/* margin-top: 100px; */
	margin-bottom: 100px;
}
.containerAbout{
	margin:100px;
}
.boxugly{
	float: right;
	max-width: 700px;
	border-bottom: 2px white solid;

}
.Ugly{
	float: left;
	border-radius: 50%;
	box-shadow: 10px 10px 35px -15px black;
	overflow: hidden;

}

#contact{
	text-align: center;
	max-width: 80%;
	margin: auto;

}

.contactButtons li{
	display: inline;
}
.contactImages{
	max-width: 50px;
	margin-left: 15px;
	border-radius: 10px;
}

#portContainer{
	text-align: center;
	margin-left: 50px;
}

.portfolioPic{
	float: left;
	max-width: 32%;
	margin: 7px;
	border-bottom: solid black 2px;
	border-radius: 10px;

}
/* .portfolioPic:hover
{
	transform: scale(1.1);

} */

#footer{
	max-width: 80%;
	margin:auto;
	border-top: 1px black solid;
	overflow: auto;
}


.footList li{
	display: inline;
	float: right;
	overflow: auto;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	font-size: 20px;
	border: 1px solid black;
	border-radius: 5px 5px;
	background-color: pink;

}
.copyright{
	margin: 0;
	padding: 0;
	text-align: right;
}

/*  clear */


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Media Queries */
@media screen and (max-width: 600px){
	.portfolioPic{
		max-width: 155px;
	}
	#portfolio{
		margin: 15px;
	}
	.button-display-right{
		bottom:550px;

	}
	.button-display-left{
		bottom:550px;

	}
	.Ugly {
		text-align: center;
		float: none;
		max-width: 100%;
		border-radius:1px;
		box-shadow: none;
	}
	.boxUgly{
		text-align: center;
		float: none;
		max-width: 100%;
	}
}
