
Body {
	font-family: Helvetica,Georgia;
	background-image: linear-gradient(pink 50%, white);
	color: black;
	padding: 0;
	margin: 0;
	}
header ul{
	margin: 0;
	padding: 0;
	}
header li {
	position: relative;
	float: right;
	display: inline;
	padding: 0 40px 0 0;
	}
header Navbar{
	margin-top: 10px;
}

p{
	font-size: 20px;
}
h1{
	border-top: 2px solid black;
	margin: 25px;
	text-align: center;
	font-size: 75px;

}
/* Class/ID selectors */


#logo {
	position: relative;
	left: 200px;
}
#Showcase{
	margin: 0;
	padding: 0;
	box-shadow: 0 -10px 25px 10px 	black;

}
.button-display-right{
	position: absolute;
	bottom: 350px;
	right: 10px;
}
.button-display-left{
	position: absolute;
	bottom: 350px;
	left: 10px;
}

#about{
	max-width: 80%;
	margin: auto;
	margin-top: 25px;
}

.Container{
	overflow: auto;
}
.boxugly{
	position: relative;
	float: right;
	max-width: 700px;
	margin-top: 100px;
	margin-bottom: 10px;
	border-bottom: 2px tomato solid;

}
.Ugly{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	/* border: 3px solid grey; */
	box-shadow: 10px 10px 35px -15px black;
	transition: all .5s;
	overflow: hidden;
	margin-left: 50px;
	margin-top: 15px;

}

.boxTroy{
	position: relative;
	float: left;
	max-width: 700px;
	margin-top: 100px;
	border-bottom: 2px tomato solid;


}
.Troy{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	box-shadow: 10px 10px 35px -15px black;
	transition: all .5s;
	overflow: hidden;
	float:right;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#contact{
	text-align: center;
	max-width: 80%;
	margin: auto;

}

.contactButtons li{
	display: inline;
}
.contactImages{
	max-width: 100px;
	margin-left: 25px;
	border-radius: 15px;
}

#portfolio{
	margin:25px 125px;
}

.portfolioPic{
	max-width: 350px;
	border: 3px black solid;

}
.portfolioPic:hover
{
	transform: scale(1.3);
	border: 1px black solid;

}

#footer{
	max-width: 80%;
	margin:auto;
	border-top: 1px black solid;
	overflow: auto;
}


.footList li{
	display: inline;
	float: right;
	overflow: auto;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	font-size: 20px;
	border: 1px solid black;
	border-radius: 5px 5px;
	background-color: pink;

}
.copyright{
	margin: 0;
	padding: 0;
	text-align: right;
}



/* Media Queries */
@media screen and (max-width: 600px){
	.portfolioPic{
		max-width: 155px;
	}
	#portfolio{
		margin: 15px;
	}
	.button-display-right{
		bottom:550px;

	}
	.button-display-left{
		bottom:550px;

	}

}
