
Body {
	font-family: Georgia;
	background-color: black;
	color: white;
	}
header ul{
	margin: 0;
	padding: 0;
	}
header li {
	position: relative;
	float: right;
	display: inline;
	padding: 0 40px 0 0;
	}
header Navbar{
	margin-top: 10px;
}
#logo {
	position: relative;
	left: 200px;
}

.button-display-right{
	position: absolute;
	bottom: 250px;
	right: 10px;
}
.button-display-left{
	position: absolute;
	bottom: 250px;
	left: 10px;
}
.footList {
	position: absolute;
	float: bottom;
	display: inline;
}
.boxUgly{
	padding: 30px;
	position: relative;
	right: 200px;
	float: right;
	max-width: 500px;
	color: white;
	border-bottom: grey 2px solid;
}
.Ugly{
	position: relative;
	left: 250px;
	margin-top: 50px;
	width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid grey;
  transition: all .5s;
	overflow: hidden;

}
.boxTroy{
	padding: 30px;
	position: relative;
	top: 100px;
	float: left;
	left: 200px;
	max-width: 500px;
	color: white;
	border-bottom: grey 2px solid;

}

.Troy{
	position: relative;
	top: 50px;
	margin-top: 50px;
	width: 300px;
  height: 300px;
	left: 200px;
  border-radius: 50%;
  border: 3px solid grey;
  transition: all .5s;
	overflow: hidden;
}
