// Base styles
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  // background-color: whitesmoke;
}
h2{
  font-size: 1.9em;
}
a{
  color:black;  
  text-decoration: none;
  transition: .5s ease-in-out;
}
a:hover{
  cursor:pointer;
}
.pink{
  color: $dark-pink;
}
